* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 243, 242);
}

/*Comienzo Arreglar Header*/

#centrarlogotipo {
  filter: invert();
}

#submenuitem {
  color: rgb(41, 41, 43);
}

header .redes_sociales1 p,
header .redes_sociales1 #ico-gmail,
header .redes_sociales1 .icofont-ui-call {
  color: rgb(41, 41, 43);
}

header .linea-1,
header .linea-3 {
  background-color: rgb(41, 41, 43);
}

/*Fin Arreglar Header*/

/*Inicio texto modo dispositivo*/
.contenedor_architecture {
  margin-bottom: 100px;
}

.texto_incio_achitecture {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 170px;
  margin-bottom: 40px;
}

.txt_inicio_architecture {
  width: 85%;
}

.txt_inicio_architecture h2 {
  color: rgb(32, 32, 32);
  font-family: Rached;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.txt_inicio_architecture p {
  color: rgb(84, 85, 85);
  font-family: Colgent;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

/*Fin texto modo dispositivo*/

/*Inicio banner modo dispositivo*/

.banner_architecture {
  margin: auto;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.img_banner_architecture {
  width: 100%;
  height: auto;
}

.imagen_banner_architecture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  max-height: 60vh;
}

.img_banner_architecture img {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 25px;
}

.texto_banner_achitecture {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 10%;
  right: 20px;
  color: white;
  text-align: right;
}

.txt_banner_architecture h2 {
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 230px;
  font-family: Rached;
  letter-spacing: 5px;
  font-size: 30px;
  padding-right: 5px;
  background-color: rgb(236, 179, 126);
}

.txt_banner_architecture p {
  font-family: Colgent;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 4px;
  padding-left: 10px;
}

/*Fin banner modo dispositivo*/

/*Inicio imagenen modo dispositivo*/

.imagen_architecture {
  margin: auto;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
}

.img__architecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.img__architecture img {
  width: 95%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

#imagen_architecture {
  padding-bottom: 15px;
}

.texto_achitecture {
  height: 100%;
  width: 95%;
  text-align: left;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 600px;
  text-align: center;
}

.texto_achitecture h2 {
  color: rgb(32, 32, 32);
  font-family: Rached;
  font-size: 50px;
  line-height: 50px;
  padding-top: 15px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.texto_achitecture p {
  color: rgb(28, 28, 29);
  font-family: Colgent;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 3px;
}

.txt_architecture #txt_achitecture_p {
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(84, 85, 85);
  padding-left: 10px;
}

.grid_imagen_architecture {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.grid_imagen_architecture img {
  height: 100%;
  max-height: 800px;
  width: 95%;
  object-fit: cover;
  border-radius: 0px;
}

#imagen_architecture_cuatro .texto_achitecture {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/*Fin Imagen modo dispositivo*/

/*Arreglo slider modo dispositivo*/

.slider-container {
  width: 95%;
  max-height: 65vh;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 25px;
}

.slider {
  border-radius: 25px;
}

.slider img {
  max-height: 65vh;
  border-radius: 25px;
}

.slider_btn_prev_index,
.slider_btn_next_index {
  display: none;
}

/*Texto*/
.txt_slider_arquitectura {
  position: absolute;
  text-align: center;
  width: 300px;
  bottom: 40px; 
  left: 15px; 
  transform: none;
  text-align: left;
  z-index: 1;
}

.txt_slider_arquitectura h2 {
  width: 250px;
  font-size: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
  line-height: 30px;
  color: #fff;
  font-family: Rached;
  background-color: rgba(236, 179, 126, 0.774);
  padding: 15px;
  letter-spacing: 5px;
}

.txt_slider_arquitectura p {
  width: 290px;
  margin-top: 0;
  padding: 0;
  color: white;
  font-family: Colgent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
}

/*Dots*/
/*Dots*/
.dots_slider .dot {
  width: 13px;
  height: 13px;
  border: 1px solid #9e9e9ee8;
  background-color: rgba(252, 252, 252, 0.616);
}

.dots_slider .active {
  background-color: #ffffff;
}


/*Fin slider modo dispositivo*/

/*Modo dispositivo muy pequeño*/
@media (max-width: 315px) {

  .contenedor_architecture {
    min-width: 270px;
  }

  .texto_achitecture {
    padding-left: 10px;
    padding-right: 10px;
  }

  .txt_inicio_architecture h2,
  .texto_achitecture h2 {
    font-size: 35px;
  }

  .texto_banner_achitecture {
    right: 10px;
  }

  .txt_banner_architecture h2 {
    font-size: 20px;
  }

  .txtslider_index {
    padding-left: 8px;
  }

  .txtslider_index h2 {
    font-size: 20px;
  }

  .txtslider_index p {
    width: 200px;
    font-size: 14px;
  }

  .txt_slider_arquitectura h2 {
    width: 220px;
    font-size: 20px;
    margin-left: 0px;
  }

  .dots_slider {
    bottom: 20px;
    left: 88%;
    width: 10%;
    height: 40%;
    flex-direction: column-reverse;
  }

}

/*Comienzo Banner modo pc*/

@media (min-width: 1400px) {
  .contenedor_architecture {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1080px) {
  /*Inicio texto modo pc*/
  .texto_incio_achitecture {
    max-width: 1700px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 90px;
  }

  .txt_inicio_architecture {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  /*Fin texto modo pc*/

  /*Inicio banner modo dispositivo*/

  /*Inicio banner modo dispositivo*/

  .banner_architecture {
    position: static;
    display: block;
  }

  .img_banner_architecture {
    width: 80%;
    height: 100vh;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .imagen_banner_architecture {
    width: 60%;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .img_banner_architecture img {
    right: 0;
    height: 100%;
    max-height: 100%;
    width: auto;
    margin-right: 0;
  }

  .texto_banner_achitecture {
    position: static;
    display: flex;
    justify-content: left;
    width: 50%;
    text-align: center;
    color: rgb(43, 44, 44);
    padding-left: 70px;
    padding-top: 130px;
  }

  .txt_banner_architecture h2 {
    position: static;
    width: 100%;
    font-size: 60px;
    background-color: rgba(236, 179, 126, 0);
  }

  .txt_banner_architecture p {
    color: rgb(84, 85, 85);
    font-size: 20px;
  }

  /*Fin banner modo dispositivo*/

  /*Inicio imagenen modo dispositivo*/

  .img__architecture {
    margin: auto;
    width: 100%;
    max-height: auto;
    position: relative;
    margin: auto;
    flex-direction: row;
    width: 80%;
    max-height: 900px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .img__architecture img {
    width: 70%;
    height: auto;
    max-height: 800px;
  }

  #imagen_architecture {
    padding-bottom: 15px;
  }

  .texto_achitecture {
    height: 100%;
    width: 95%;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 70px;
  }

  #imagen_architecture_tres {
    flex-direction: row-reverse;
  }

  #imagen_architecture_tres .texto_achitecture {
    padding-left: 100px;
  }

  #imagen_architecture_cuatro {
    flex-direction: column;
    max-height: 100%;
  }

  .grid_imagen_architecture {
    flex-direction: row;
    gap: 20px;
  }

  .grid_imagen_architecture img {
    height: 100%;
    width: auto;
  }

  #imagen_architecture_cuatro .texto_achitecture {
    width: 700px;
  }

  /*Fin Imagen modo dispositivo*/



  /*Arreglo slider modo dispositivo*/

.slider-container {
    width: 50%;
    max-height: 900px;
    margin-top: 50px;
    overflow-y: hidden;
  }
  
  .slider img {
    height: 85vh;
    max-height: 900px;
  }
  
  /*Texto*/
  .txt_slider_arquitectura{
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .txt_slider_arquitectura h2 {
    width: 360px;
    font-size: 50px;
    line-height: 50px;
  }

  .txt_slider_arquitectura p{
    font-size: 18px;
    width: 400px;
    margin-left: 15px;
  }

  .dots_slider .dot {
    width: 15px;
    height: 15px;
  }

  /*Fin slider modo dispositivo*/

}

/*Fin banner modo pc*/
