/*Comienzo arreglo del header y menú*/

/*Logotipo*/

header{
    z-index: 2;
  }
  
  
  .logotipo {
    filter: invert();
  }
  
  header.headerscroll .logotipo {
    filter: grayscale();
  }
  
  header:hover .logotipo {
    filter: brightness(0);
  }
  
  /*Texto menus*/
  header .menu > ul > li > a {
    color: #ffffff;
  }
  
  header.headerscroll .menu > ul > li > a,
  header:hover .menu > ul > li > a {
    color: #3c3d3f;
  }
  
  /*Botón menú*/
  header .mobile-menu-trigger .contenedormenu .linea-1,
  header .mobile-menu-trigger .contenedormenu .linea-2,
  header .mobile-menu-trigger .contenedormenu .linea-3 {
    background-color: rgb(255, 255, 255);
  }
  
  header:hover .mobile-menu-trigger .contenedormenu .linea-1,
  header:hover .mobile-menu-trigger .contenedormenu .linea-3,
  header.headerscroll .mobile-menu-trigger .contenedormenu .linea-1,
  header.headerscroll .mobile-menu-trigger .contenedormenu .linea-3 {
    background-color: #3c3d3f;
  }
  
  /*Iconos contacto*/
  header .item-right a,
  header .item-right a ion-icon,
  header .item-right a .email,
  header .item-right .telefono p{
    color: white;
  }
  
  header:hover .item-right a,
  header:hover .item-right a p,
  header:hover .item-right a ion-icon,
  header.headerscroll .item-right a,
  header.headerscroll .item-right a ion-icon,
  header.headerscroll .item-right a .email,
  header.headerscroll .item-right .telefono p{
    color: #3c3d3f;
  }
  
  /*Fin arreglo del header y menú*/