/*Estilos footer modo dispositivo*/
footer {
  font-weight: 600;
  font-style: normal;
  background: #ffffff;
  color: #2b2c2c;
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer .contenedorfooter {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer .contenedorfooter .redessociales {
  justify-self: center;
  width: 100%;
  border-top: 1px solid rgb(179, 179, 179);
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 35px;
}

footer .contenedorfooter .redessociales h3 {
  font-family: Laika;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

footer .contenedorfooter .redessociales {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer .contenedorfooter .redessociales a {
  display: flex;
  color: #2b2c2c;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  padding-top: 8px;
  letter-spacing: 1.5px;
  margin-bottom: 18px;
}

footer .contenedorfooter .redessociales p {
  font-family: ParisLPA;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-decoration: none;
  color: #2b2c2c;
}

.icon_ion_footer{
  font-size: 23px;
  margin-right: 5px;
}


footer .contenedorfooter .feedinstagram {
  grid-column: 1/3;
  width: 100%;
  justify-self: center;
  padding-left: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

footer .contenedorfooter .feedinstagram img {
  width: 250px;
  border-radius: 15px;
}

footer .contenedorfooter .feedinstagram h2 {
  font-family: Laika;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: -20px;
  padding-bottom: 15px;
}


footer .contenedorfooter .logotipofooter {
  display: flex;
  flex-direction: column;
  font-family: BodoniMT;
  text-align: left;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-left: 40px;
  padding-bottom: 50px;
  margin-top: -30px;
}


footer .contenedorfooter .logotipofooter a {
  text-decoration: none;
  font-family: ParisLPA;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: #2b2c2c;
}

footer .contenedorfooter .logotipofooter #logotipofooter_about {
  padding-bottom: 18px;
}

footer .contenedorfooter .logotipofooter h2 {
  font-family: BodoniMT;
  font-size: 23px;
  padding-top: 18px;
}

footer .contenedorfooter .logotipofooter p {
  font-family: BodoniMT;
  font-size: 18px;
  text-decoration: overline;
  margin-bottom: 15px;
}

footer .copyright {
  display: flex;
}

footer .copyright p {
  font-family: ParisLPA;
  font-style: normal;
  font-weight: bold;
  margin: auto;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-top: 40px;
  margin-bottom: 25px;
}


/*Footer modo dispositivo muy pequeño*/
@media (max-width: 315px) {
  footer {
    min-width: 270px;
  }

  footer .copyright p {
    text-align: center;
  }

  footer .contenedorfooter .redessociales, footer .contenedorfooter .logotipofooter, footer .contenedorfooter .feedinstagram {
    padding-left: 20px;
  }

}



@media (min-width: 700px) {
  footer {
    padding: 60px;
    padding-bottom: 20px;
  }

  footer .contenedorfooter {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    border-bottom: 1px solid rgb(218, 218, 218);
    border-top: 1px solid rgb(218, 218, 218);
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 50px;
    width: 100%;
  }

  footer .contenedorfooter .redessociales {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid rgb(218, 218, 218);
    width: 300px;
  }

  footer .contenedorfooter .redessociales a {
    font-size: 17px;
  }

  footer .contenedorfooter .redessociales p {
    font-size: 13px;
  }

  footer .contenedorfooter .redessociales h3 {
    font-size: 16px;
  }

  .icon_ion_footer{
    font-size: 19px;
    margin-right: 8px;
  }

  footer .contenedorfooter .feedinstagram {
    padding-left: 15px;
    padding-right: 20px;
    border-bottom: none;
    border-right: 1px solid rgb(218, 218, 218);
    width: 300px;
  }

  footer .contenedorfooter .feedinstagram h2 {
    font-size: 16px;
    padding-top: 20px;
    margin-top: 0px;
  }


  footer .contenedorfooter .logotipofooter {
    border-bottom: none;
    text-align: left;
    width: 300px;
    margin-top: 0px;
  }

  footer .contenedorfooter .logotipofooter a {
    font-size: 14px;
  }

  footer .contenedorfooter .logotipofooter h2 {
    font-size: 22px;
  }

  footer .contenedorfooter .logotipofooter p {
    padding-left: 10px;
    font-size: 18px;
  }


  footer .contenedorfooter .logotipofooter #logotipofooter_about {
    padding-top: 20px;
  }

  footer .copyright {
    border-top: 1px solid rgb(218, 218, 218);
    margin-top: 20px;
  }
}