@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body.noscroll2 {
  overflow: hidden;
}

/*Producto modo dispositivo*/
.contenedorproducto {
  position: relative;
  height: 90vh;
  overflow: hidden;
  margin: 7px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.productoslider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider_imagenes_producto{
  width: 100%;
  height: 100%;
}

.slider_imagenes {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 3s;
  position: absolute;
}

.degradado_slider_productos{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.233),
    rgba(0, 0, 0, 0.356)
  );
}

.textoproducto {
  position: absolute;
  text-align: center;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.textoproducto h2 {
  font-family: Rached;
  font-size: 35px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(23, 27, 31, 0.322);
}

.textoproducto p {
  font-family: Colgent;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 11%;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(23, 27, 31, 0.747);
}

.textoproducto .botonproducto  {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-align: center;
  left: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));
  /*
   background: rgba(112, 112, 112, 0.445);
  backdrop-filter: blur(4px);*/
  text-decoration: none;
  margin-top: 40px;
  border-radius: 8mm;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.textoproducto .botonproducto:hover {
  background: linear-gradient(to right, rgb(0, 95, 51), rgb(1, 131, 70));
}

@media (max-width: 315px) {
  .contenedorproducto {
    min-width: 250px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 350px) {
  .contenedorproducto .imagenproducto img {
    padding-left: 35px;
  }
}

/*Artistas y productos inicio modo pc*/

@media (min-width: 1400px) {
  .contenedorproducto {
    max-width: 1650px;
  }
}

/*Productos modo pc*/

@media (min-width: 1043px) {
 .contenedorproducto {
    position: relative;
    width: 95%;
    height: 90vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: rgb(255, 255, 255);
  }

  .slider_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 3s;
    position: absolute;
  }

  .textoproducto {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 560px;
  }

  .textoproducto h2 {
    font-size: 55px;
    letter-spacing: 5px;
  }

  .textoproducto p {
    font-size: 22px;
  }

  .textoproducto .botonproducto {
    margin-top: -25px;
    font-size: 16px;
    width: 230px;
  }
}

