@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body.noscroll2 {
  overflow: hidden;
}

/*Comienzo Paquetes*/

.paquetes {
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.paquetes::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/header/arquitectura/header-fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.9);
  z-index: -1;
}

.texto_paquetes {
  color: white;
  height: 100%;
  width: 85%;
  max-width: 450px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 7%;
}

.texto_paquetes h1,
.texto_paquetes h2 {
  font-family: Rached;
  font-size: 33px;
  letter-spacing: 3px;
  color: #fff;
  font-style: italic;
}

.texto_paquetes h2 {
  text-decoration: underline;
}

.texto_paquetes_subtitulo {
  margin-top: 40px;
  margin-bottom: 30px;
}

.texto_paquetes p,
.texto_paquetes ol,
.ver-mas {
  font-family: Colgent;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 1.4;
}

.texto_paquetes ol {
  letter-spacing: 0px;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  margin-top: 15px;
}

.ver-mas {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.ver-mas:hover {
  color: #d2d6d4;
}

.texto_paquetes ol li {
  list-style-type: disc;
}

.carrusel_scroll {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96, 5vw;
  padding-bottom: 30px;
  cursor: grab;
  user-select: none;
}

.carrusel_scroll.grabbing {
  cursor: grabbing;
}

.cont_carrusel_scroll {
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  list-style: none;
  margin-left: 0px;
  padding-left: 30px;
  padding-top: 20px;
}

.button-next1, .button-prev1 {
 position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  color: rgba(43, 42, 42, 0.438);
  font-size: 55px;
  text-align: center;
  padding-top: 0px;
  z-index: 1;
}

.button-prev1{
  left: 10px;
} 

.cont_carrusel_scroll_1 {
  display: flex;
  height: 100%;
  padding-bottom: 15px;
}

.cont_carrusel_scroll::-webkit-scrollbar {
  height: 6px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.cont_carrusel_scroll::-webkit-scrollbar-thumb {
  background-color: rgb(5, 153, 91);
  border-radius: 15px;
}

.card_carrusel {
  margin-right: 20px;
  width: 100%;
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  background-color: rgb(238, 242, 243);
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  margin-bottom: 30px;
}

/*Titulo Más vendid*/
.mas_vendido{
  color: rgb(231, 88, 131);;
  background-color: rgb(243, 223, 226);;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  width: 200px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 10px;
}

/*Titulo de la card*/
.card_carruseltitulo {
  text-align: center;
  padding-left: 10px;
}

.card_carruseltitulo p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.2px;
  color: #3c3c3f;
  font-size: 20px;
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 10px;
}

/*Texto qué trae*/
.quetraetexto {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 17px;
  font-weight: bold;
  color: hsl(180, 1%, 31%);
  margin-top: 10px;
}

.card_carrusel_description li.quetraetexto::before {
  content: "✔";
  color: hsl(167, 56%, 56%);
  font-size: 15px;
  position: relative;
  margin-right: 7px;
}

/*Card descripción*/
.card_carrusel_description {
  height: 100%;
  min-height: 150px;
  text-align: center;
}

/*Texto descripción*/

/*Texto precio*/
.card_carrusel_description .description_costos {
  margin-top: 25px;
  color: rgb(68, 70, 70);
  font-family: JimmyBold;
  font-size: 25px;
}

.card_carrusel_description .description_costos del {
  text-decoration: line-through;
  font-family: Jimmylight;
  font-size: 15px;
  color: rgb(138, 135, 135);
}

/*Texto rebaja*/
.card_carrusel_description .rebaja {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(241, 77, 127);
  font-size: 15px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Botón pedir*/
.card_carrusel_description a {
  font-family: Jimmylight;
  position: relative;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  left: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  background: rgb(243, 78, 128);
  text-decoration: none;
  border-radius: 5mm;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.card_carrusel_description a:hover {
  background: rgb(209, 62, 111);
}

/*Texto pagas al recibir*/
.pagasalrecibir {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: Jimmylight;
  font-size: 16px;
  color: #3f4141;
  font-weight: bold;
  border-bottom: 2px solid rgb(181, 214, 206);
}

/*Caracteristicas*/
.caracteristicas {
  text-align: left;
  margin-top: 20px;
}

.caracteristicas ul {
  max-height: 139px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  margin-top: 15px;
}

.caracteristicas .ver-mas {
  text-align: center; /* Centra el texto en el contenedor */
  cursor: pointer;
  color: rgb(36, 37, 37);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  text-decoration: none;
  display: inline-block; /* Asegura que la línea se expanda solo al ancho del texto */
  width: 100%; /* Ocupa el ancho completo del contenedor */
}

.caracteristicas .ver-mas:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  background-color: rgb(71, 72, 73);
  bottom: -3px;
  left: 43%;
  transition: width 0.3s, left 0.3s;
  transform-origin: center;
}

.caracteristicas .ver-mas:hover:before {
  width: 30%;
  left: 35%;
}

.lista_caract {
  list-style-type: none;
  padding-left: 0;
  color: #323333;
  font-family: Jimmylight;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.lista_caract li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 17px;
  font-weight: normal;
}

.lista_caract li .negrita {
  font-weight: bold;
}

.lista_caract li::before {
  content: "●";
  color: rgb(31, 182, 149);
  font-size: 10px;
  padding-top: 3px;
  position: absolute;
  left: 0;
}

.lista_caract li.cambiodecolor::before {
  color: rgb(226, 158, 57); /* Color del ● */
}

.lista_caract li.cambiodecolor2::before {
  color: rgb(243, 78, 128); /* Color del ● */
}

.lista_caract li.cambiodecolor,
.lista_caract li.cambiodecolor1 {
  font-size: 15px; /* Tamaño de fuente más pequeño */
}

.txt_caract {
  font-family: Jimmylight;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(58, 59, 59);
}

/*Fin de paquetes*/

/*Comienzo banner producto*/
.contenedorproducto {
  position: relative;
  height: 90vh;
  overflow: hidden;
  margin: 7px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.productoslider {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider_imagenes_producto {
  width: 100%;
  height: 100%;
}

.slider_imagenes {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.degradado_slider_productos {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(94, 94, 94, 0.151),
    rgba(0, 0, 0, 0)
  );
}
/*Texto*/

.textoproducto {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: 10%;
  z-index: 1;
  max-width: 690px;
  color: white;
}

.textoproducto h1 {
  font-family: TestRegular;
  font-size: 35px;
  width: 100%;
  padding-left: 30px;
  line-height: 0.9;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
}

.txtproducto_1 {
  font-family: ExpoRegular;
  font-size: 17px;
  letter-spacing: 0.1px;
  padding: 0;
  width: 88%;
  margin-top: 30px;
  padding-left: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
}

.textoproducto .botonproducto {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 170px;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));
  text-decoration: none;
  margin-top: 40px;
  border-radius: 8mm;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textoproducto .botonproducto:hover {
  background: linear-gradient(to right, rgb(0, 95, 51), rgb(1, 131, 70));
}

@media (max-width: 315px) {
  .card_carrusel {
    min-width: 220px;
  }

  .contenedorproducto {
    min-width: 250px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .textoproducto h1 {
    font-size: 25px;
    width: 100%;
  }

  .cont_carrusel_scroll {
    margin-left: 0px;
  }

  .txtproducto_1 {
    font-size: 13px;
    letter-spacing: 0.3px;
    width: 90%;
  }

  .button-next1, .button-prev1 {
    width: 30px;
    height: 30px;
    right: 2px;
  }
  
  .button-prev1{
    left: 2px;
  }   
  
}

@media screen and (max-width: 350px) {
  .contenedorproducto .imagenproducto img {
    padding-left: 35px;
  }
}

/*Banner modo pc*/

@media (min-width: 1400px) {
  .contenedorproducto {
    max-width: 1650px;
  }
}

/*Modo pc*/

@media (min-width: 1100px) {
  /*Comienzo Paquetes */

  .paquetes {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .cont_carrusel_scroll {
    margin-left: 50px;
    padding-right: 100px;
  }

  .texto_paquetes {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }

  .texto_paquetes h1,
  .texto_paquetes h2 {
    font-size: 50px;
  }

  .texto_paquetes h2 {
    margin-top: -7px;
  }

  .button-next1 {
    right: 20px;
    width: 53px;
    height: 53px;
    font-size: 60px;
  }

  .button-prev1{
    display: none;
  }   

  .carrusel_scroll {
    padding-top: 40px;
  }

  .card_carrusel {
    margin-left: 5px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 5px;
  }

  .card_carrusel:hover {
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.308);
    transform: scale(1.01);
  }

  .card_carrusel_description a {
    font-size: 16px;
  }

  .pagasalrecibir {
    font-size: 15px;
  }

  .txt_caract {
    font-size: 17px;
  }

  .lista_caract {
    font-size: 15px;
  }
  /*Fin contenedor paquetes*/
}

@media (min-width: 700px) {
  /*Banner de producto*/
  .contenedorproducto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .textoproducto {
    bottom: 18%;
    margin-left: 70px;
  }

  .textoproducto h1 {
    font-size: 45px;
    width: 80%;
    line-height: 0.6;
    padding-left: 50px;
  }

  .txtproducto_1 {
    margin-top: 50px;
    font-size: 17px;
    max-width: 600px;
    letter-spacing: 0.7px;
    padding-left: 50px;
  }

  .textoproducto .botonproducto {
    font-size: 16px;
    margin-left: 50px;
  }
}
