@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body.noscroll2 {
  overflow: hidden;
}

/*Comienzo grid scroll fotos 2*/

.paquetes {
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.paquetes::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/header/arquitectura/header-fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.9);
  z-index: -1; 
}

.texto_paquetes {
  color: white;
  height: 100%;
  width: 85%;
  max-width: 450px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 7%;
}

.texto_paquetes h1,
.texto_paquetes h2 {
  font-family: Rached;
  font-size: 33px;
  letter-spacing: 3px;
  color: #fff;
  font-style: italic;
}

.texto_paquetes h2 {
  text-decoration: underline;
}

.texto_paquetes_subtitulo{
  margin-top: 40px;
  margin-bottom: 30px;
}

.texto_paquetes p,
.texto_paquetes ol,
.ver-mas {
  font-family: Colgent;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: bold;
}

.texto_paquetes ol {
  letter-spacing: 0px;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  margin-top: 15px;
}

.ver-mas {
  cursor: pointer;
  color: rgb(255, 255, 255); 
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.ver-mas:hover{
  color: #d2d6d4;
}

.texto_paquetes ol li {
  list-style-type: disc;
}

.carrusel_scroll {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 96, 5vw;
  padding-bottom: 30px;
  cursor: grab;
  user-select: none;
}

.carrusel_scroll.grabbing {
  cursor: grabbing;
}

.cont_carrusel_scroll {
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  list-style: none;
  margin-left: 20px; 
}

.button-next1{
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  color: rgb(42, 42, 43);
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  padding-top: 0px;
  z-index: 1;
}

.cont_carrusel_scroll_1 {
  display: flex;
  height: 100%;
}

.cont_carrusel_scroll::-webkit-scrollbar {
  height: 6px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.cont_carrusel_scroll::-webkit-scrollbar-thumb {
  background-color: rgb(6, 160, 96);
  border-radius: 15px;
}

.card_carrusel {
  margin-right: 20px;
  width: 100%;
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.card_carruseltitulo {
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.card_carruseltitulo p {
  font-family: Colgent;
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.card_carrusel_img {
  height: 90%;
  max-height: 350px;
  overflow: hidden;
  box-shadow: 6px 6px 10px rgba(30, 30, 31, 0.479);
  border-radius: 40px;
  margin-bottom: 15px;
}

.carrusel_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.carrusel_img:hover {
  transform: scale(1.04);
}

.card_carrusel_description {
  height: 150px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.card_carrusel_description p {
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-family: Colgent;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.card_carrusel_description .description_costos {
  color: rgb(255, 255, 255);
}

.card_carrusel_description .description_costos del {
  text-decoration: line-through;
  color: rgb(218, 218, 218);
}

.card_carrusel_description .rebaja{
  color: rgb(21, 209, 115);
  font-size: 15px;
  font-weight: bolder;
  margin-top: -10px;
}

.card_carrusel_description a {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  font-family: Colgent;
  letter-spacing: 1px;
  position: relative;
  text-decoration: none; /* Desactiva el subrayado predeterminado */

}

.card_carrusel_description a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 40%; /* Ancho inicial del subrayado (40% para que comience en la mitad) */
  height: 2px; /* Grosor del subrayado */
  background-color: rgb(184, 182, 182);
  transition: width 0.3s ease, left 0.3s ease; /* Transiciones para width y left */
  transform: translateX(
    -50%
  ); /* Centra el pseudo-elemento en relación al texto */
}

.card_carrusel_description a:hover::before {
  background-color: rgb(218, 216, 216);
  width: 100%; /* Ancho al 100% durante el evento hover (llenando hacia la derecha y la izquierda) */
}

/*Comienzo Lightbox*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#contenedor-lightbox {
  width: 100%;
  padding: 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

#contenedor-lightbox img {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f3f3f3;
}

#btn-cierra,
#btn-retrocede,
#btn-adelanta {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.295);
  color: black;
  border-radius: 50px;
  font-size: 1.7rem;
  top: 50%;
  right: 10px;
  z-index: 101;
}

#btn-cierra {
  top: 10px;
  padding-bottom: 5px;
}

#btn-retrocede {
  left: 10px;
}

#lightbox .dots {
  position: absolute;
  bottom: 20px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#lightbox .dots li {
  list-style: none;
  width: 60px;
  height: 5px;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
}

#lightbox .dots li.active {
  width: 60px;
  background-color: rgb(48, 212, 157);
  position: relative;
}
/*Fin Lightbox*/

/*Producto modo dispositivo*/
.contenedorproducto {
  position: relative;
  height: 90vh;
  overflow: hidden;
  margin: 7px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.productoslider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider_imagenes_producto {
  width: 100%;
  height: 100%;
}

.slider_imagenes {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.degradado_slider_productos {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(94, 94, 94, 0.151),
    rgba(0, 0, 0, 0)
  );
}
/*Texto*/

.textoproducto {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 75%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(189, 26, 26);
  z-index: 1;
}

.textoproducto h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Rached;
  font-size: 34px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #ffffff;
  width: 300px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.116);
}

.textoproducto .botonproducto {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-align: center;
  left: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));
  text-decoration: none;
  border-radius: 8mm;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.textoproducto .botonproducto:hover {
  background: linear-gradient(to right, rgb(0, 95, 51), rgb(1, 131, 70));
}

@media (max-width: 315px) {
  .card_carrusel {
    min-width: 220px;
  }

  .contenedorproducto {
    min-width: 250px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .textoproducto {
    width: 90%;
  }

  .textoproducto h2 {
    width: 100%;
  }

  .card_carrusel_description {
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .contenedorproducto .imagenproducto img {
    padding-left: 35px;
  }
}

/*Artistas y productos inicio modo pc*/

@media (min-width: 1400px) {
  .contenedorproducto {
    max-width: 1650px;
  }
}

/*Modo pc*/

@media (min-width: 1100px) {
  /*Comienzo grid scroll fotos 2*/

  .paquetes {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .texto_paquetes {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }

  .texto_paquetes h1,
  .texto_paquetes h2 {
    font-size: 50px;
  }

  .texto_paquetes h2{
    margin-top: -7px;
  }

  .texto_paquetes_subtitulo{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .button-next1{
    right: 20px;
    width: 53px;
    height: 53px;
    font-size: 60px;
  }

  .carrusel_scroll {
    padding-top: 40px;
    margin-left: 50px;
  }

  .card_carrusel {
    margin-right: 50px;
    min-width: 450px;
    margin-bottom: 15px;
  }

  .card_carruseltitulo p {
    font-size: 18px;
  }

  .card_carrusel_img {
    height: 90%;
    max-height: 450px;
    overflow: hidden;
    box-shadow: 6px 6px 10px rgba(30, 30, 31, 0.479);
  }

  .carrusel_img {
    height: auto;
  }

  .card_carrusel_description {
    height: 130px;
    text-align: center;
    margin-top: 20px;
  }

  /*Comienzo Ligthbox*/
  #btn-cierra:hover,
  #btn-retrocede:hover,
  #btn-adelanta:hover {
    background-color: rgb(206, 206, 206);
    color: rgb(48, 48, 48);
  }

  #contenedor-lightbox img {
    width: auto;
    height: 90vh;
  }

  /*Fin Lightbox*/
  /*Fin grid fotos 2*/
}

@media (min-width: 1043px) {
  .contenedorproducto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .textoproducto {
    width: 750px;
  }

  .textoproducto h2 {
    font-size: 50px;
    letter-spacing: 5px;
    width: 100%;
    max-width: 750px;
    margin-bottom: 40px;

  }

  .textoproducto .botonproducto {
    font-size: 16px;
    width: 230px;
  }
}
