/*slider modo dispositivo*/
.contenedor_slider_index {
  margin: auto;
  width: 100%;
  max-width: 1920px;
  max-height: 93.5vh;
  position: relative;
  overflow: hidden;
}

.slider_index {
  display: flex;
  width: 400%;
  height: 93.5vh;
  margin-left: -100%;
}

.degradado_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.185),
    rgba(0, 0, 0, 0.329),
    rgba(0, 0, 0, 0.658)
  );
  z-index: 0;
}

.slider_section_index {
  width: 100%;
}

.slider_index img {
  display: block;
  width: 100%;
  height: 93.5vh;
  object-fit: cover;
}

.slider_btn_prev_index,
.slider_btn_next_index {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.651);
  color: rgba(18, 18, 19, 0.616);
  top: 53%;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
  padding-top: 4px;
  z-index: 1;
  display: none;
}

.slider_btn_prev_index {
  left: 15px;
}

.slider_btn_next_index {
  right: 15px;
}

.slider_btn_prev_index:hover,
.slider_btn_next_index:hover {
  background-color: rgb(1, 168, 90);
  color: rgb(255, 255, 255);
}

/*Texto*/
.txtslider_index {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: white;
  text-align: left;
  bottom: 15%;
}

.txtslider_index h2 {
  font-family: TestRegular;
  font-size: 30px;
  width: 270px;
  margin-left: 6%;
  line-height: 0.9;
}

.txtslider_index .titulo_2 {
  font-family: TestBold;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1.4;
}

.txtslider_index .titulo_3 {
  font-family: TestRegular;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-left: 6%;
}

.txtslider_index p {
  font-family: ExpoRegular;
  font-size: 15px;
  letter-spacing: 0.1px;
  padding: 0;
  color: white;
  margin-top: 30px;
  width: 90%;
  margin-left: 6%;
}

.txtslider_index a {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 210px;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-align: center;
/*  background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));*/
  background: rgba(112, 112, 112, 0.445);
  backdrop-filter: blur(5px);
  text-decoration: none;
  margin-top: 40px;
  border-radius: 8mm;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txtslider_index a:hover {
  background: linear-gradient(to right, rgb(0, 95, 51), rgb(1, 131, 70));
}

section {
  width: 100%;
  margin-bottom: 25px;
}

/*Flecha*/

.indicador_bottom_arrow {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  top: 93vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  display: none;
}

.animatedColor {
  margin-top: -60px;
  color: rgb(20, 22, 24);
}
.flecha {
  animation: arrow 1s ease-in-out infinite;
  font-size: 40px;
}

.arrowscroll {
  opacity: 0;
}

@keyframes arrow {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 60px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}

/*Dots*/
.contenedor_slider_index .dots {
  position: absolute;
  bottom: 30px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.contenedor_slider_index .dots li {
  list-style: none;
  width: 40px;
  height: 5px;
  background-color: #ffffff52;
  margin: 10px;
  border-radius: 10px;
  transition: 1s;
}

.contenedor_slider_index .dots li.active {
  width: 40px;
  background-color: #ffffff52;
  position: relative;
}

.contenedor_slider_index .dots li.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  animation: progress 4s linear forwards;
}

@keyframes progress {
  0% {
    width: 0;
    background-color: rgb(1, 168, 90);
  }
  100% {
    width: 100%;
    background-color: rgb(1, 168, 90);
  }
}
/*slider modo pc*/

/*Estilos modo pc*/
@media (max-width: 312px) {
  .contenedor_slider,
  main .contenedor_slider_index {
    min-width: 270px;
  }

  .txtslider_index {
    width: 270px;
    top: 50%;
  }

  .contenedor_slider_index .dots {
    bottom: 20px;
  }

  .txtslider_index h2 {
    font-size: 25px;
    width: 100%;
  }
  
  .txtslider_index .titulo_2 {
    font-size: 25px;
  }
  
  .txtslider_index .titulo_3 {
    font-size: 12px;
  }
  
  .txtslider_index p {
    font-size: 13px;
    letter-spacing: 0.3px;
    width: 90%;
  }

  .txtslider_index a {
    font-size: 14px;
    width: 180px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1400px) {
  main .contenedor_slider_index {
    max-width: 1920px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 760px) {
  .contenedor_slider_index {
    max-height: 100vh;
  }

  .slider_index,
  .slider_index img {
    height: 100vh;
  }

  .slider_btn_prev_index {
    left: 30px;
  }

  .slider_btn_next_index {
    right: 30px;
  }

  .txtslider_index {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    left: 4%;
    bottom: 20%;
  }

  .txtslider_index h2 {
    font-size: 60px;
    width: 80%;
    line-height: 0.6;
  }
  
  .txtslider_index .titulo_2 {
    font-size: 60px;
    letter-spacing: 4px;
  }
  
  .txtslider_index .titulo_3 {
    font-size: 22px;
    letter-spacing: 1.2px;
    width: 100%;
  }

  .txtslider_index p {
    margin-top: 50px;
    font-size: 17px;
    max-width: 620px;
    letter-spacing: 0.7px;
  }

  .txtslider_index a {
    background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));
    margin-left: 50px;
  }

  /*Dots*/
  /*Dots*/

  .contenedor_slider_index .dots {
    bottom: 30px;
  }

  .contenedor_slider_index .dots li {
    width: 100px;
    height: 5px;
    margin: 20px;
  }

  .contenedor_slider_index .dots li.active {
    width: 100px;
  }
}
