.slider-container {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 93.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: linear-gradient(to bottom, #253c3f, #01171d);
}

.degradado_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.185),
    rgba(0, 0, 0, 0.329),
    rgba(0, 0, 0, 0.658)
  );
  z-index: 1;
}

.slider-container .slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider-container .slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.slider-container .slider img:not(.active) {
  top: 0;
  left: -100%;
}

/*Texto*/
.txtslider_index {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  color: white;
  text-align: left;
  bottom: 15%;
}

.txtslider_index h2 {
  font-family: TestRegular;
  font-size: 30px;
  width: 270px;
  margin-left: 6%;
  line-height: 0.9;
}

.txtslider_index .titulo_2 {
  font-family: TestBold;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1.4;
}

.txtslider_index .titulo_3 {
  font-family: TestRegular;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-left: 6%;
}

.txtslider_index p {
  font-family: ExpoRegular;
  font-size: 15px;
  letter-spacing: 0.1px;
  padding: 0;
  color: white;
  margin-top: 30px;
  width: 90%;
  margin-left: 6%;
}

.txtslider_index a {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 210px;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-align: center;
  /*background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));*/
  background: rgba(112, 112, 112, 0.445);
  backdrop-filter: blur(5px);
  text-decoration: none;
  margin-top: 40px;
  border-radius: 8mm;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txtslider_index a:hover {
  background: linear-gradient(to right, rgb(0, 95, 51), rgb(1, 131, 70));
}

/*Dots*/
.dots_slider {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.dots_slider .dot {
  width: 10px;
  height: 10px;
  margin: 0px 2px;
  border: 1px solid #a5a5a5e8;
  background: rgba(240, 248, 255, 0.384);
  border-radius: 50%;
  margin-bottom: 15px;
  transition: 0.6s ease;
}

.dots_slider .active {
  background-color: #f3f3f3;
}

/*Hace avanzar las imagenes*/
@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/*Hace Retroceder las imagenes*/
@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

/*Flecha*/
.indicador_bottom_arrow {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.arrow {
  margin-top: -60px;
  color: rgb(255, 255, 255);
  animation: arrow 1s ease-in-out infinite;
  font-size: 40px;
}

.arrowscroll {
  opacity: 0;
}

@keyframes arrow {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 60px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}

/*Botones next y prev*/
span.next,
span.prev {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(5px);
  font-size: 22px;
  transition: 0.5s;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  padding-bottom: 2px;
  display: none;
}

span.prev {
  left: 30px;
  padding-right: 2px;
}

span.next {
  right: 30px;
}

span.next:hover,
span.prev:hover {
  background-color: rgb(3, 134, 90);
}

/*Dispositivos pequeños*/
@media (max-width: 312px) {
  .slider-container {
    min-width: 270px;
  }

  /*Texto*/
  .txtslider_index {
    width: 270px;
    top: 50%;
  }

  .txtslider_index h2 {
    font-size: 25px;
    width: 100%;
  }

  .txtslider_index .titulo_1 {
    width: 240px;
  }

  .txtslider_index .titulo_2 {
    font-size: 25px;
  }

  .txtslider_index .titulo_3 {
    font-size: 12px;
  }

  .txtslider_index p {
    font-size: 13px;
    letter-spacing: 0.3px;
    width: 90%;
  }

  .txtslider_index a {
    font-size: 14px;
    width: 180px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  /*Flecha*/
  .indicador_bottom_arrow {
    width: 50px;
    height: 50px;
    bottom: 0px;
    margin-bottom: -25px;
  }

  .arrow {
    font-size: 30px;
  }

  /*Dots*/
  .dots_slider .dot {
    width: 8px;
    height: 8px;
  }

  .dots_slider .active {
    width: 8px;
  }
}

/*Modo Pc*/
@media (min-width: 1400px) {
  .slider-container {
    max-width: 1920px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 760px) {
  .slider-container {
    height: 100vh;
  }

  /*Texto*/
  .txtslider_index {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    left: 4%;
    bottom: 20%;
  }

  .txtslider_index h2 {
    font-size: 60px;
    width: 80%;
    line-height: 0.6;
  }

  .txtslider_index .titulo_2 {
    font-size: 60px;
    letter-spacing: 4px;
  }

  .txtslider_index .titulo_3 {
    font-size: 22px;
    letter-spacing: 1.2px;
    width: 100%;
  }

  .txtslider_index p {
    margin-top: 50px;
    font-size: 17px;
    max-width: 620px;
    letter-spacing: 0.7px;
  }

  .txtslider_index a {
    background: linear-gradient(to right, rgb(0, 124, 66), rgb(1, 168, 90));
    margin-left: 50px;
  }

  /*Dots*/
  .dots_slider{
    right: 25px;
  }

  .dots_slider .dot {
    width: 12px;
    height: 12px;
    margin-bottom: 22px;
  }

  .dots_slider .active {
    width: 12px;
  }

  /*Botones Next y Prev*/
  .span.prev {
    left: 30px;
  }

  .span.next {
    right: 30px;
  }
}
