@import url(header.css);
@import url(footer.css);
@import url(slider.css);
@import url(slider2.css);
@import url(slidernewwork.css);

@font-face {
  font-family: "Gothic";
  src: url("../font/Tarocco.woff") format("woff");
}

@font-face {
  font-family: "Jane";
  src: url("../font/JaneLightRegular.woff") format("woff");
}

@font-face {
  font-family: "TestRegular";
  src: url("../font/AllrounderAntiquaTest-Regular.woff") format("woff");
}

@font-face {
  font-family: "TestBold";
  src: url("../font/AllrounderAntiquaTest-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "ExpoRegular";
  src: url("../font/Muli-Regular.woff") format("woff");
}

@font-face {
  font-family: "BodoniMT";
  src: url("../font/BodoniMT.woff") format("woff");
}

@font-face {
  font-family: "Rached";
  src: url("../font/Rached.woff") format("woff");
}

@font-face {
  font-family: "Colgent";
  src: url("../font/Colgent.woff") format("woff");
}

@font-face {
  font-family: "Laika";
  src: url("../font/DidotRoman.woff") format("woff");
}

@font-face {
  font-family: "ParisLPA";
  src: url("../font/FeniceStd-Regular.woff") format("woff");
}

@font-face {
  font-family: "JimmyBold";
  src: url("../font/BRHendrix-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Jimmylight";
  src: url("../font/BRHendrix-Regular.woff") format("woff");
}

/*Estilos header modo dispositivo*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  user-select: none;
  overflow-x: hidden;
}

